@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

.hero-section {
    background-image: linear-gradient(
        #0a1628c4,
        rgba(36, 14, 83, 0.603)
      ), 
      url('./assets/buyTicket.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}

svg:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}